.App {
  text-align: center;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x:hidden;
}
li{
  list-style-type: none;
}
.title{
  width:100vw;
  height:70px;
  background-color:navy;
  color:#fff;
  align-items:center;
  padding-top: 15px;
  position:fixed;
  margin-bottom: 80px;
}
.content{
  width:100vw;
  padding:20px;
  height:auto;
  margin-bottom: 10px;
  font-size:1.3em;
}
.identifier{
  color:navy;
}